Repository rown89/a-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier -w

.lintstagedrc.json:

{
	"**/*.{js,jsx,ts,tsx}": ["eslint"],
	"**/*.{html,json,css,scss,md,mdx}": ["prettier -w"]
}

feat(repo): edited readme
  README.md
Due: prettier -w

Update README.md
  README.md
Due: prettier -w

feat:(repo): remove useless example
  packages/infrastructure/stacks/supabase/env.example
Due: none

fix(repo): remove yarn in favor of npm
  .husky/post-merge
  .husky/pre-commit
  .prettierignore
  apps/backoffice/website/Dockerfile
  apps/backoffice/website/README.md
  apps/backoffice/website/package.json
  apps/storefront/website/Dockerfile
  apps/storefront/website/README.md
  apps/storefront/website/package.json
  package-lock.json
  package.json
  packages/infrastructure/package.json
  packages/website/package.json
  turbo.json
Due: prettier -w

fix(repo): missing run command in root package.json
  .husky/pre-commit
  package.json
  prettier.config.mjs
Due: prettier -w

fix: update turbo and remove daisy ui as dependency
  README.md
  package-lock.json
  package.json
  packages/ui/package.json
  packages/ui/tailwind.config.ts
  turbo.json
Due: eslint, prettier -w
